
<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>

  <app-first [posts]='posts'></app-first>

  <div class="panel panel-primary">
    <div class="panel-heading">Lien tuto :</div>
    <div class="panel-body">

    <a target="_blank" rel="noopener" href="http://exercices.openclassrooms.com/assessment/731?id=4668271&slug=developpez-des-applications-web-avec-angular&login=6862664&tk=5640e8bf8b9ca8d23b36558a922fc0ad&sbd=2016-02-01&sbdtk=fa78d6dd3126b956265a25af9b322d55">Openclassroom</a>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
